parameters:
    level: 8
    paths:
        - src
    ignoreErrors:
        - '#Call to an undefined method WP_Query::set\(\)#'
    excludePaths:
        - tests
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
